body {}
body{
padding:0px;
margin:0px;
}

#bild {
  width: 60vw;
  margin: 0 auto;
  margin-top: 25vh;
    margin-bottom: 15vh;
}

body {

}

#natureLogo{
  position:
  
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#layer-15 { 
    filter:blur(2px);
      animation-name: femton;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-15:hover { 
    filter:blur(2px);
      animation-name: femtonhover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}





#layer-14 { 
    filter:blur(2px);
      animation-name: fjorton;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-14:hover { 
    filter:blur(2px);
      animation-name: fjortonhover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}





#layer-13 { 
    filter:blur(2px);
      animation-name: tretton;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-13:hover { 
    filter:blur(2px);
      animation-name: trettonhover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}





#layer-12 { 
    filter:blur(2px);
      animation-name: tolv;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-12:hover { 
    filter:blur(2px);
      animation-name: tolvhover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}





#layer-11 { 
    filter:blur(2px);
      animation-name: elva;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-11:hover { 
    filter:blur(2px);
      animation-name: elvahover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}





#layer-10 { 
    filter:blur(2px);
      animation-name: tio;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-10:hover { 
    filter:blur(2px);
      animation-name: tiohover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}





#layer-9 { 
    filter:blur(2px);
      animation-name: nio;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-9:hover { 
    filter:blur(2px);
      animation-name: niohover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}





#layer-8 { 
    filter:blur(2px);
      animation-name: atta;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-8:hover { 
    filter:blur(2px);
      animation-name: attahover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}




#layer-7 { 
    filter:blur(2px);
      animation-name: sju;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-7:hover { 
    filter:blur(2px);
      animation-name: sjuhover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}




#layer-6 { 

    animation-name: sex;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-6:hover { 

  /*transform: skewY(20deg); skewX(-40deg);*/
  filter:blur(1px);
    animation-name: sexhover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}




#layer-5 { 
    filter:blur(2px);
      animation-name: fem;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}

#layer-5:hover { 
    filter:blur(2px);
      animation-name: femhover;
    animation-duration: 5s;
  animation-iteration-count: infinite;
}




#layer-4 { 
fill: gray;
    filter:blur(3px);
      animation-name: fyra;
    animation-duration: 12s;
  animation-iteration-count: infinite;
}

#layer-4:hover { 
fill: gray;
    filter:blur(3px);

      animation-name: fyrahover;
    animation-duration: 12s;
  animation-iteration-count: infinite;
}





#layer-3 { 
fill: gray;
    filter:blur(4px);
      animation-name: tre;
    animation-duration: 1s;
  animation-iteration-count: infinite;
}

#layer-3:hover { 
fill: gray;
    filter:blur(4px);
      animation-name: trehover;
    animation-duration: 1s;
  animation-iteration-count: infinite;
}




#layer-2 { 
fill: yellow;
    filter:blur(5px);

      animation-name: två;
    animation-duration: 2s;
  animation-iteration-count: infinite;
  
}

#layer-2:hover { 
fill: yellow;
    filter:blur(5px);

      animation-name: tvahover;
    animation-duration: 2s;
  animation-iteration-count: infinite;
  
}




#layer-1 { 
fill: green;
    filter:blur(6px);
      animation-name: ett;
    animation-duration: 2s;
  animation-iteration-count: infinite;
}

#layer-1:hover { 
fill: green;
    filter:blur(6px);
      animation-name: etthover;
    animation-duration: 2s;
  animation-iteration-count: infinite;
}



#layer-0 { 
fill: white;
      animation-name: noll;
    animation-duration: 10s;
  animation-iteration-count: infinite;
}

#layer-0:hover { 
fill: white;
      animation-name: nollhover;
    animation-duration: 10s;
  animation-iteration-count: infinite;
}




@keyframes femton {
  0% {fill: gray; filter:blur(1px);}
  50% {fill: darkgray; filter:blur(2px);}
  100% {fill: gray; filter:blur(1px);}  
}

@keyframes femtonhover {
  0% {fill: orangered; filter:blur(1px);}
  50% {fill: gold; filter:blur(2px);}
  100% {fill: orangered; filter:blur(1px);}  
}





@keyframes fjorton {
  0% {fill: lightgray; filter:blur(1px);}
  50% {fill: gray; filter:blur(2px);}
  100% {fill: lightgray; filter:blur(1px);}   
}

@keyframes fjortonhover {
  0% {fill: crimson; filter:blur(1px);}
  50% {fill: gold; filter:blur(2px);}
  100% {fill: crimson; filter:blur(1px);}  
}





@keyframes tretton {
  0% {fill: gainsboro; filter:blur(1px);}
  50% {fill: grey; filter:blur(2px);}
  100% {fill: gainsboro; filter:blur(1px);}  
}

@keyframes trettonhover {
  0% {fill: darkorange; filter:blur(1px);}
  50% {fill: hotpink; filter:blur(2px);}
  100% {fill: darkorange; filter:blur(1px);}  
}





@keyframes tolv {
  0% {fill: gray; filter:blur(1px);}
  50% {fill: gainsboro; filter:blur(2px);}
  100% {fill: gray; filter:blur(1px);}  
}

@keyframes tolvhover {
  0% {fill: mediumorchid; filter:blur(1px);}
  50% {fill: orangered; filter:blur(2px);}
  100% {fill: mediumorchid; filter:blur(1px);}  
}





@keyframes elva {
  0% {fill: gray; filter:blur(1px);}
  50% {fill: darkgray; filter:blur(2px);}
  100% {fill: gray; filter:blur(1px);}  
}

@keyframes elvahover {
  0% {fill: olive filter:blur(1px);}
  50% {fill: purple; filter:blur(2px);}
  100% {fill: olive; filter:blur(1px);}   
}




@keyframes tio {
  0% {fill: lightgray; filter:blur(1px);}
  50% {fill: gray; filter:blur(2px);}
  100% {fill: lightgray; filter:blur(1px);}   
}

@keyframes tiohover {
  0% {fill: royalblue; filter:blur(1px);}
  50% {fill: yellowgreen; filter:blur(2px);}
  100% {fill: royalblue filter:blur(1px);}  
}




@keyframes nio {
  0% {fill: gainsboro; filter:blur(1px);}
  50% {fill: white; filter:blur(2px);}
  100% {fill: gainsboro; filter:blur(1px);}  
}

@keyframes niohover {
  0% {fill: yellow; filter:blur(1px);}
  50% {fill: mediumspringgreen; filter:blur(2px);}
  100% {fill: yellow; filter:blur(1px);}  
}




@keyframes atta {
  0% {fill: lightgray; filter:blur(1px);}
  50% {fill: gray; filter:blur(2px);}
  100% {fill: lightgray; filter:blur(1px);}  
}

@keyframes attahover {
  0% {fill: lime; filter:blur(1px);}
  50% {fill: mediumblue; filter:blur(2px);}
  100% {fill: lime; filter:blur(1px);}  
}




@keyframes sju {
  0% {fill: gray; filter:blur(1px);}
  50% {fill: darkgray; filter:blur(2px);}
  100% {fill: gray; filter:blur(1px);}  
}

@keyframes sjuhover {
  0% {fill: darkcyan; filter:blur(1px);}
  50% {fill: chocolate; filter:blur(2px);}
  100% {fill: darkcyan; filter:blur(1px);}   
}




@keyframes sex {
  0% {fill: lightgray; filter:blur(1px);}
  50% {fill: gray; filter:blur(2px);}
  100% {fill: lightgray; filter:blur(1px);}  
}

@keyframes sexhover {
  0% {fill: mediumvioletred; filter:blur(1px);}
  50% {fill: olivedrab; filter:blur(2px);}
  100% {fill: mediumvioletred; filter:blur(1px);}  
}




@keyframes fem {
  0% {fill: gray; filter:blur(1px);}
  50% {fill: darkgray; filter:blur(2px);}
  100% {fill: gray; filter:blur(1px);}  
}

@keyframes femhover {
  0% {fill: deeppink; filter:blur(2px);}
  25% {fill: greenyellow; filter:blur(2px);}
  50% {fill: orangered; filter:blur(3px);}
  75% {fill: lightseagreen; filter:blur(2px);}
  100% {fill: deeppink; filter:blur(2px);}  
}




@keyframes fyra {
  0% {fill: gainsboro; filter:blur(1px);}
  50% {fill: white; filter:blur(2px);}
  100% {fill: gainsboro; filter:blur(1px);}  
}

@keyframes fyrahover {
  0% {fill: darkviolet; filter:blur(1px);}
  50% {fill: yellow; filter:blur(3px);}
  100% {fill: darkviolet; filter:blur(1px);}  
}



@keyframes tre {
  0% {fill: lightgray; filter:blur(1px);}
  50% {fill: gray; filter:blur(2px);}
  100% {fill: lightgray; filter:blur(1px);}  
}

@keyframes trehover {
  0% {fill: red; filter:blur(1px);}
  50% {fill: green; filter:blur(3px);}
  100% {fill: red; filter:blur(1px);}  
}

@keyframes två {
  0% {fill: gainsboro; filter:blur(1px);}
  50% {fill: white; filter:blur(2px);}
  100% {fill: gainsboro; filter:blur(1px);}  
}

@keyframes tvahover {
  0% {fill: green; filter:blur(1px);}
  50% {fill: blue; filter:blur(3px);}
  100% {fill: green; filter:blur(1px);}  
}


@keyframes ett {
  0% {fill: lightgray; filter:blur(1px);}
  50% {fill: gray; filter:blur(2px);}
  100% {fill: lightgray; filter:blur(1px);}  
}

@keyframes etthover {
  0% {fill: blue; filter:blur(1px);}
  50% {fill: yellow; filter:blur(2px);}
  100% {fill: blue; filter:blur(1px);}  
}

@keyframes noll {
  0% {fill: white; filter:blur(1px);}
  50% {fill: white; filter:blur(2px);}
  100% {fill: white; filter:blur(1px);}  
}
  
  @keyframes nollhover {
  0% {fill: white;
  50% {fill: white;}
  100% {fill: white;}  
}
